@import url("https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans+Caption|PT+Sans:400,400i,700,700i|PT+Serif:700");
* {
  box-sizing: border-box; }

body {
  background-color: #FFF;
  font-family: "PT Sans", sans-serif;
  color: #112;
  margin: 0;
  padding: 0; }

.content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px; }

h1, h2, h3, h4, h5, h6, p, pre, blockquote {
  display: block;
  word-wrap: break-word;
  font-family: "PT Serif", serif; }

footer {
  background-color: #112;
  color: #FEE;
  height: 100vh;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 50px; }

h3 {
  font-size: 40px; }

h4 {
  font-size: 30px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 10px; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 120px;
  margin-bottom: 30px;
  font-weight: 700;
  color: #35A; }

a, p, pre {
  margin-top: 30px;
  margin-bottom: 30px; }

a, pre, p, li, blockquote {
  font-size: 16px;
  line-height: 32px; }

a {
  border-bottom: 2px solid #35A;
  text-decoration: none;
  font-size: inherit;
  color: #35A; }

img {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0; }

blockquote {
  opacity: 0.75;
  font-style: italic;
  border-left: 2px solid #112;
  padding-left: 30px;
  margin-left: 0px; }

pre {
  background-color: #112;
  color: #FEE;
  padding: 30px;
  border-radius: 5px;
  white-space: pre-wrap; }
  pre code {
    background-color: transparent; }

code {
  background-color: #112;
  color: #FEE;
  background-color: #112, 0.75;
  opacity: 0.75;
  margin: 5px;
  padding: 5px;
  border-radius: 5px; }
